.form-container {
    position: absolute;
    top: 15vh;
    border-radius: 10px;
    background-color: white;
    padding: 10%;
    opacity: 0.8;
}
@media screen and (min-width:208px) {
    body, html {
        height: 100%;
    }
}
