* {
    font-family: sans-serif;
}

body { 
    display : flex;
    flex-direction: column;
    justify-content: space-around;
}

body, html {
    height: 100%;
}

#bg {
    background-image: url(../images/farmer.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    width: 40px;
    height: 40px;
    padding-right: 5px;
    box-sizing: content-box;
}
.icon {
    width: 25px;
    height: 25px;
    padding: 10px;
    box-sizing: content-box;
}
